* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: Barlow;
}

header {
  background: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

header .logo{
  float: left;
  margin: 30px 20px;
  height: 3%;
}

header ul {
  text-align: right;
}

header li {
  list-style: none;
  display: inline-block;
  margin: 30px 10px;
  margin-left: 50px;
}

header > ul > li > a {
  text-decoration: none;
  color: white;
}

header button {
  background-color: white;
  font-family: Fraunces;
  font-weight: 700;
  border-radius: 25px;
  height: 50px;
  width: 8em;
}

header button > a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: center;
  color: white;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 55px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 3.5rem;
  text-align: center;
}

header .arrow {
  margin: auto;
  display: block;
  margin-top: 14rem;
}

/* ===========
    Grid
   =========== */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.grid-item-1 {
    margin: 10em;
}

.grid-item-1 h2 {
  font-family: Fraunces;
  font-size: 35px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1em;
}

.grid-item-1 p {
  color: gray;
  text-align: left;
  font-weight: 400;
  margin-bottom: 2em;
}

.grid-item-1 a {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 13px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  background-position: bottom center;
  background-clip: padding-box;
  padding: 0 .5em 0;
  background-size: 200px 6px;
  background-repeat: no-repeat;
}

#transform a {
  background-image: linear-gradient(
    rgba(253, 208, 55, 0.5),
    rgba(253, 208, 55, 0.5)
  );
}

#stand-out a {
  background-image: linear-gradient(
    rgba(254, 110, 100, 0.5),
    rgba(254, 110, 100, 0.5)
  );
}

.grid-picture {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: -3px;
}

#cherry {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}

#orange {
  background-image: url(../images/desktop/image-photography.jpg);
}

.grid-item-2 {
  text-align: center;
  background-size: cover;
  height: 100%;
  width: auto;
  padding: 23em 9em 5em;
}

.grid-item-2 h3 {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1em;
}

.grid-item-2 p {
  font-family: Barlow;
  font-weight: 600;
  line-height: 28px;
}

.grid-item-2 h3,
p {
  opacity: 0.5;
}
/*  ===================
    Client testimonials
    =================== */

.client-testimonials {
  width: 80em;
  margin-top: 8em;

  margin: 8em auto;
}

.client-testimonials h4 {
  text-align: center;
  font-family: Fraunces;
  font-weight: 900;
  color: rgb(171, 171, 171);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
}

.split {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
  margin-bottom: 4em;
}

.testimonial img {
  border-radius: 50%;
  height: 4em;
}

.testimonial {
  /* margin: 0 5em; */
  text-align: center;
  width: 20em;
}

.testimonial p {
  margin: 3em 0 4em;
  line-height: 1.5em;
  font-family: Barlow;
  font-weight: 500;
  font-size: 16px;
}

.testimonial strong {
  font-family: Fraunces;
  font-weight: 700;
}

.testimonial span {
  margin: 0.7em 1em 1em;
  display: block;
  color: rgb(171, 171, 171);
  font-size: 12px;
}

/* =======
   Gallery
   ======= */
   
.gallery {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.gallery-item {
    height: 25em;
    width:max-content;
}

/* =======
   Footer
   ======= */
   
footer {
    background-color: #90d4c5;
    text-align: center;
    height: 21rem;
}

.footer-logo {
    margin: 3em 0em 2.5em;
    height: 2.3em;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 40%;
}

.footer-menu li {
    display: inline-block;
    color: #3c8071;
    font-size: 20px;
    font-weight: 400;
}

.socials {
    display: flex;
    justify-content: space-between;
    padding: 0 44%;
    margin: 6rem 0 0;

}

.socials li {
    list-style: none;
}

.attribution {
    margin-top: 2.5em;
    opacity: .6;
}

.attribution a {
    color: black;
}