:root {

  --ff-primary: "Barlow", sans-serif;
  --ff-accent: "Fraunces", serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
}

h1,
h2,
h3,
h4,
h4,
h6 {
  font-family: var(--ff-accent);
}

img {
    max-width: 100%;
    display: inline-block;
}

header {
  background: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

@media (max-width: 55em) {
  header {
    background: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;

  }
}
.nav {
  padding: 2em 2em;
}
.nav .logo {
  float: left;
  margin-top: .75em;
  height: 3%;
}

.nav ul {
  text-align: right;
}

header li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

.nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.navbar-button {
  background-color: white;
  font-family: Fraunces;
  font-weight: 700;
  border-radius: 25px;
  height: 50px;
  width: 8em;
}

.navbar-button > a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
}

.hamburger {
  display: none;
}

@media (max-width: 55em) {
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
    display:inline-block;
    margin-right: 2em;
    margin-top: .55em;
    margin-right: -.1em;
  }

  .nav ul {
    display: none;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: center;
  color: white;
  font-weight: 900;
  font-size: 55px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 3.5rem;
  text-align: center;
}

@media (max-width: 55em) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: center;
    color: white;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top: 3.5rem;
    text-align: center;
  }
}

header .arrow {
  margin: auto;
  display: block;
  margin-top: 14rem;
}

main {
  margin-inline: auto;
  width: min(100%, 90em)
}
/* ===========
    Grid
   =========== */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
}

@media (max-width: 55em) {
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 100%;
    }
}

.grid-item-1 {
  margin-inline: 20%;
}

.grid-item-1 h2 {
  font-family: var(--ff-accent);
  font-size: 35px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1em;
}

.grid-item-1 p {
  text-align: left;
  font-weight: 500;
  opacity: 0.5;
  margin-bottom: 2em;
}


@media (max-width: 55em) {
  .grid-item-1 {
      margin: 10%;
      text-align: center;
  }

  .grid-item-1 h2 {
    text-align: center;
  }

  .grid-item-1 p {
    text-align: center;
  }
}


.grid-item-1 a {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 13px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  background-position: bottom center;
  background-clip: padding-box;
  padding: 0 0.5em 0;
  background-size: 200px 5px;
  background-repeat: no-repeat;
}

#transform a {
  background-image: linear-gradient(
    rgba(253, 208, 55, 0.5),
    rgba(253, 208, 55, 0.5)
  );
}

#stand-out a {
  background-image: linear-gradient(
    rgba(254, 110, 100, 0.5),
    rgba(254, 110, 100, 0.5)
  );
}

.grid-picture {
  overflow: hidden;
  margin-bottom: -3px;
  width: 100%;
  height: auto;
}

.picture {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 55em) {
  #egg-container {
    order: 1;
  }

  #transform {
    order: 2;
  }

  #cup-container {
    order: 3;
  }

  #stand-out {
    order: 4;
  }

  #cherry {
    order: 5;
  }

  #orange {
    order: 6;
  }
}

#cherry {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}

#orange {
  background-image: url(../images/desktop/image-photography.jpg);
}

@media (max-width: 30em) {
  #cherry {
    background-image: url(../images/mobile/image-graphic-design.jpg);
  }

  #orange {
    background-image: url(../images/mobile/image-photography.jpg);
  }
}

.grid-item-2 {
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 23em 3em 5em;
}

.grid-item-2 h3 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1em;
}

.grid-item-2 p {
  font-weight: 600;
  line-height: 28px;
}

.grid-item-2 h3,
p {
  opacity: 0.5;
}
/*  ===================
    Client testimonials
    =================== */

.client-testimonials {
  width: min(90%, 80em);
  margin-top: 7em;
  margin-inline: auto;
}

.client-testimonials h4 {
  text-align: center;
  font-weight: 900;
  color: rgb(171, 171, 171);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
}

.split {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
  margin-bottom: 4em;
}

@media (max-width: 55em) {
  .split {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 4em;
  }
}

.testimonial img {
  border-radius: 50%;
  height: 4em;
}

.testimonial {
  /* margin: 0 5em; */
  text-align: center;
  width: 20em;
  margin-inline: 1%;
}

@media (max-width: 55em)  {
.testimonial {
  text-align: center;
  width: 80%;
  line-height: 2;
  margin-bottom: 4em;
  border-bottom: solid lightgrey 1px;
}
}

.testimonial p {
  margin: 3em 0 2em;
  font-weight: 500;
  font-size: 16px;
}

.testimonial strong {
  font-family: Fraunces;
  font-weight: 700;
}

.testimonial span {
  margin: 0.7em 1em 1em;
  display: block;
  color: rgb(171, 171, 171);
  font-size: 12px;
}

/* =======
   Gallery
   ======= */

.gallery-desktop {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
}

.gallery-mobile {
  display: none;
}

.gallery-item {
  height: 25em;
  width: max-content;
}

@media (max-width: 55em) {

  .gallery-desktop {
    display: none;
  }

  .gallery-mobile {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: fit-content
  }

  .gallery-item {
    height: auto;
    width: 100%;
  }
}

/* =======
   Footer
   ======= */

footer {
  background-color: #90d4c5;
  text-align: center;
  height: auto;
}

.footer-logo {
  margin: 3em 0em 2.5em;
  height: 2.3em;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: min(20em, 40em);
  margin-inline: auto;
}

.footer-menu li {
  display: inline-block;
  color: #3c8071;
  font-size: 20px;
  font-weight: 400;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: min(10em, 40em);
  margin: 5em auto;
}

.socials li {
  list-style: none;
}

.attribution {
  margin-top: 2.5em;
  opacity: 0.6;
}

@media (max-width: 55em) {
  .attribution {
    margin-top: 2.5em;
    opacity: 0.6;
    font-size: .8em;
  }
}

.attribution a {
  color: black;
}
